body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightcoral;
    /* transition: background-color 0.4s linear; */
}


.nav-icon {
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}

/* hamburger menu + transition */

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 6px;
    background: #2a1929;
    transition: all 0.2s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    /* 1, 3, 5 */
    left: 0;
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even) {
    /* 2, 4, 6 */
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1), 
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3), 
.nav-icon span:nth-child(4) {
    top: 13px;
}

.nav-icon span:nth-child(5), 
.nav-icon span:nth-child(6) {
    top: 26px;
}

/* adds rotation to hamburger menu */
.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
}

/* nav bars disappear */
.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}



.menu-links {
    transition: 0.3s ease;
    display: none;
}

.change {
    display: block;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
}