* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /*font-family: poppins;*/
}

body {
    background-color: #fff;
    margin: 20px;
}

.container {
    /* background-color: #ADB6B1; */
    /* width: 90%; */
    max-width:fit-content;
    height: 90%;
    position: absolute;
    font-size: 24px;
    transform: translate(-25%, -50%);
    top: 50%;
    left: 35%;
    grid-template-columns: 2fr 8fr;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.nav-icon {
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}

/* hamburger menu + transition */

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 6px;
    background: #2a1929;
    transition: all 0.2s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    /* 1, 3, 5 */
    left: 0;
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even) {
    /* 2, 4, 6 */
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1), 
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3), 
.nav-icon span:nth-child(4) {
    top: 13px;
}

.nav-icon span:nth-child(5), 
.nav-icon span:nth-child(6) {
    top: 26px;
}

/* adds rotation to hamburger menu */
.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
}

/* nav bars disappear */
.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}


.tabs {
    display: flex;
    min-width: 10rem;
    background-color: #ADB6B1;
    justify-content: center;
    
}

/* .tabs ul {
    display: grid;
} */

.container .tabs ul {
    display: grid;
}

ul li {
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
    place-content: center;
    cursor: pointer;
    color: #F3F0E9;
    text-align: center;
    align-self: center;
    padding: 0 10px 0 10px;
}

/* .tabs h3 {
    height: 33.33%;
    display: flex;
    flex-direction: row;
    place-items: center;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    color: #F3F0E9;
} */

.tab-content {
    background-color: #F3F0E9;
    padding: 1em 1.5em;
    /* max-width: 90vw; */
    object-fit: contain;
}


.tab-content h4 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
    margin-top: 20px;
}


.tab-content p {
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color: #202238;
    font-size: 1.2rem;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    border: #6D6B6C dashed 1.5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.tab-content div {
    display: none;
}



.tab-content .active{
    display: block;
    
}



.tabs .active {
    background-color: #D9E0D9;
    color: #6D6B6C;
}



@media screen and (max-width:800px) {
  .container {
    background-color: white;
    
  }  


  .tabs {
    display: flex;
    /* flex-direction: row; */
  }

  ul {
    display: flex;
    width:100%;
    height: auto;
  }

  nav .tabs ul li {
    display: inline-block;
  }

  /* .mobile-container {
    font-size: 14px;
    
  }   */
  /* .mobile-tabs {
    display: flex;
  } */

  .tab-content {
    padding: 1em 1.2em;
  }
} 

@media screen and (min-width:800px) {

    .container {
      display:flex;
    }

    nav {
        transition: 0.3s ease;
        display:none;
    }

    .change {
        display: none;
    }

    .nav-icon {
        display: none;
      }
  
    .tab-content {
      padding: 1em 1.2em;
    }
  } 