* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: poppins;*/
}

body {
    background-color: #fff;
    margin: 20px;
}

.container {
    background-color: #ADB6B1;
    /* width: 90%; */
    object-fit: contain;
    height: 90%;
    position: absolute;
    font-size: 24px;
    transform: translate(-25%, -50%);
    top: 50%;
    left: 35%;
    grid-template-columns: 2fr 8fr;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.mobile-container {
    /* display: inline-flex; */
    max-width: 500px;
    /* height: 90%; */
    position: relative;
    /* font-size: 24px; */
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
}

.tabs {
    display: flex;
    min-width: 10em;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ADB6B1;
}

.mobile-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ADB6B1;
    height: 40px;
}

h3 {
    height: 33.33%;
    display: grid;
    place-items: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    color: #F3F0E9;
}

.mobile-tabs h3 {
    height: 33.33%;
    display: flex;
    flex-direction: row;
    place-items: center;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    color: #F3F0E9;
}

.tab-content {
    background-color: #F3F0E9;
    padding: 1em 1.5em;
    max-width: 90vw;
}

.mobile-tab-content {
    background-color: #F3F0E9;
    padding: 1em 1.5em;
}


.tab-content h4 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
}

.mobile-tab-content h4 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
}

.tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.mobile-tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}


.tab-content div {
    display: none;
}

.mobile-tab-content div {
    display: none;
}

.tab-content .active{
    display: block;
    
}

.mobile-tab-content .active{
    display: block;
    
}

.tabs .active {
    background-color: #D9E0D9;
    color: #6D6B6C;
}

.mobile-tabs .active {
    background-color: #D9E0D9;
    color: #6D6B6C;
}


@media screen and (max-width:800px) {
  .container {
    display: none;
    
  }  
  /* .tabs {
    display: none;
  } */

  .mobile-container {
    font-size: 14px;
    
  }  
  /* .mobile-tabs {
    display: flex;
  } */

  .tab-content {
    padding: 1em 1.2em;
  }
} 

@media screen and (min-width:800px) {
    .mobile-container {
        display: none;
    }  
    .container {
      display:flex;
    }
  
    .mobile-tabs {
      display: none;
    }
  
    .tab-content {
      padding: 1em 1.2em;
    }
  } 